#background-img{
    text-align: center;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1611955727536-b3799f3c4ab9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbm5lY3Rpb258ZW58MHx8MHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#background-img h1{
    margin-top: 20px;
    font-size: 60px;
}
#background-img p{
    width:fit-content;
    padding: 5px;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
}
#searchForm{
   
    max-width: unset;
    width: 60%;
    flex-direction: row;
    height: 40px;
    background-color: rgba(226, 226, 226, 0.737);
    border-radius: 15px;
}
#searchForm input{
    font-size: 18px !important;
    width: 90%;
    border: solid rgba(0, 0, 0, 0.889) 6px;
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

}
#searchForm select{
    border: solid rgba(0, 0, 0, 0.889) 6px;
    border-left: solid rgba(0, 0, 0, 0.889) 2px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 18px !important;
}